/* CSS HEX
https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51
*/

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #1d3557;
    color: #59a1cb;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 */
.charcoal {
    color: #264653ff;
}

.charcoalBg {
    background-color: #264653ff;
}

.persianGreen {
    color: #2a9d8fff;
}

.persianGreenBg {
    background-color: #2a9d8fff;
}

.orangeYellowCrayola {
    color: #e9c46aff;
}

.orangeYellowCrayolaBg {
    background-color: #e9c46aff;
}

.sandyBrown {
    color: #f4a261ff;
}

.sandyBrownBg {
    background-color: #f4a261ff;
}

.burntSienna {
    color: #e76f51ff;
}

.burntSiennaBg {
    background-color: #e76f51ff;
}
